body {
    background-color: rgb(216, 202, 184);
    font-size: 16px;
}

h1 {
    color: rgb(63, 51, 33);
    text-align: center;
    margin-top: 50px;
    font-size: 2em;
}

.content-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.canvas{
    width : 500px; 
    height : 700px;
    border : 20px double rgb(110, 86, 59);
    display: flex;
    flex-direction: row;
    margin: 20px;
    background-color: rgb(245, 234, 223);
}

.art-block{
    display: flex;
    flex-direction: column;
}

label{
    color: rgb(63, 51, 33);
    font-size: 1em;
}

button{
    font-size: 1em;
    border: none;
    color: white;
    background: rgb(110, 86, 59);
    border-radius: 10px;
    padding: 7px;
}

input{
    margin: 20px;
}

.options-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

#art-first{
    flex: 2;
}

#art-second{
    flex: 1;
}

.options {
    border: 2px solid rgb(110, 86, 59);
    padding: 20px;
    margin: 20px;
    background-color: rgb(245, 234, 223);
}